<legend>Angular Reading List</legend>
<div class="row" ng-controller="ReadingList">
<button class="btn btn-default" ng-click="showForm = !showForm">{{showForm ? "Cancel" : "Create a Review"}}</button>
<hr />
<form name="reviewForm" class="form-horizontal" ng-show="showForm" ng-submit="addReview(reviewForm)">
<section class="row well live-preview" ng-show="book.isbn">
<aside class="col-sm-3">
<a href="http://www.amazon.com/gp/product/{{book.isbn}}">
<img src="http://images.amazon.com/images/P/{{book.isbn}}.01.ZTZZZZZZ.jpg" alt="Cover of {{book.title}}" class="full">
</a>
<p>Freshness Rating: {{percent}}%</p>
</aside>
<div class="col-sm-9">
<h3>
<a href="http://www.amazon.com/gp/product/{{book.isbn}}">
{{book.title}}
</a>
</h3>
<cite class="text-muted">Written by {{book.author}}</cite>
<p>{{book.review}}</p>
<ul class="list-unstyled">
<li ng-repeat="(genre, state) in book.genres">
<span class="label label-primary" ng-show="state">{{genre}}</span>
</li>
</ul>
</div>
</section>
<div class="input-container">
<fieldset class="form-group">
	<label for="title" class="col-sm-2 control-label">Title:</label>
	<span class="col-sm-9">
		<input type="text" class="form-control" id="title" placeholder="Book Title" ng-model="book.title">
	</span>
</fieldset>
<fieldset class="form-group">
	<label for="isbn" class="control-label col-sm-2">ISBN:</label>
	<span class="col-sm-9">
		<input type="text" id="isbn" class="form-control" maxlength="10" placeholder="ISBN-10" ng-model="book.isbn">
	</span>
</fieldset>
<fieldset class="form-group">
	<label class="control-label col-sm-2" for="author">Author</label>
	<span class="col-sm-9">
		<input type="text" id="author" class="form-control" placeholder="Name of the Author" ng-model="book.author">
	</span>
</fieldset>
<fieldset class="form-group">
	<label class="control-label col-sm-2" for="review">Review</label>
	<span class="col-sm-9">
		<textarea id="review" class="form-control" cols="30" rows="3" placeholder="Book Review" ng-model="book.review"></textarea>
	</span>
</fieldset>
<fieldset class="form-group">
	<label for="percent" class="control-label col-sm-2">Rating:</label>
	<span class="col-sm-9">
	<span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
	<uib-rating ng-model="book.percent" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one', 'two', 'three']" aria-labelledby="default-rating"></uib-rating>
	</span>
</fieldset>
<fieldset class="form-group">
	<label class="control-label col-sm-2">Genre:</label>
	<div class="genre">
		<label for="{{genre}}" class="genre-label form-control" ng-repeat="genre in genres">
			<input type="checkbox" name="genre" id="{{genre}}" ng-model="book.genres[genre]"/>
			{{genre}}
		</label>
	</div>
</fieldset>
<fieldset class="form-group">
	<span class="col-sm-9 col-sm-offset-2 button-from-hell">
		<button class="btn btn-primary">Save Review</button>
	</span>
</fieldset>
</div>
</form>
<hr />
<ul class="list-unstyled col-sm-8">
<div ng-repeat="book in books | orderBy: '-percent'">
<li class="book row">
<aside class="col-sm-3">
<a href="http://www.amazon.com/gp/product/{{book.isbn}}"><img ng-src="http://images.amazon.com/images/P/{{book.isbn}}.01.ZTZZZZZZ.jpg" alt="Cover of {{book.title}}" class="full"></a>
<p ng-class="{goodRating: book.percent >= 6}"class="rating">{{book.percent}}/10</p>
</aside>
<div class="col-sm-9">
<h3><a href="http://www.amazon.com/gp/product/{{book.isbn}}">{{book.title}}</a></h3>
<cite class="text-muted">Written by {{book.author}}</cite>
<p>{{book.review}}</p>
<ul class="list-unstyled">
<li>
<span class="label label-primary" ng-repeat="(genre, state) in book.genres" ng-show="state">{{genre}}</span>
</li>
</ul>
</div>
</li>
</div>
</ul>
</div>